body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 h1,h2,h3,h4{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

h5 h6 p{
  font-family: 'Newsreader', serif;
}




@import "styles/base.css";
@import 'styles/navbar.css';
@import 'styles/showcase.css';
@import 'styles/middle.css';
@import 'styles/single-car.css';
@import 'styles/footer.css';
@import 'styles/forms.css';
@import 'styles/about.css';
@import 'styles/contact.css';
