.brand {
    font-weight: 600;
    padding: 20px 20px;
    color: var(--secondary-color);
}

.brand:hover {
    /* cursor: pointer; */
    color: rgba(196, 3, 196, 0.226)!important;
    text-decoration: none;
}

.nav-links a{
    text-decoration: none;
    padding-left: 3px;
}

.link {
    padding: 20px 20px;
    color: var(--secondary-color);
}

.item:hover,
.link:hover {
    text-decoration: none;
    color: black;
    /* display:none; */
}

.portfolio-manager{
    color: var(--secondary-color);
    padding: 3px 3px;
}

.portfolio-manager:hover{
    color: gold;
    font-size: 600;
}

.login-link-login {
    padding: 10px 10px;
    font-size: 20px;
    color: var(--secondary-color);
}

.logout-link{
    padding: 10px 10px;
    font-size: 30px;
    color: var(--secondary-color);
}


.login-link-login:hover,
.logout-link:hover{
    color: var(--secondary-color);
}