.cars-collection {
    width: 100%;

}


.single-car {
    border: 1px solid var(--secondary-color);
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
    /* -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;  */
    background-color: white;
	border-radius: 1px;
	box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
	height: 450px;
	overflow: hidden;
	
	@media (max-width: 580px) {
		height: 350px;
		overflow: visible;
	}
    
}

.single-car:hover {
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

}

/* hidden is the conditional statement of the delete function */

.right-side {
	width: 400px;
	height: 100%;
	padding: 0 !important;
	margin: 0;
 /*  inside is the image */
}

.divider {
	background: grey;
	height: 2px;
	width: 50%;
	margin: 25px auto
}

.single-car .left-side {
	height: 100%;
	padding: 30px 20px;
	width: 100%;
	
	@media (max-width: 530px) {
		background-color: white;
	}

}

.card-icons {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 13px 7px;
    font-size: 20px
}



.delete-icon  {
	font-weight: 600;
	color: var(--secondary-color)!important;
}